*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    font-size: 62%;
}
body{
    width: 100%;
    height: 100vh;
    background-color: white;
    overflow-x: hidden;
    color: black;
}
header{
    margin-top: 20px;
    justify-content: space-between;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 4rem;
    color: #f6e9e9;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}
nav a{
    font-size: 1.8rem;
    margin-left: 4rem;
    color: #f6e9e9;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
nav a:hover,
nav a:active{
    color: #007E6E;
    border-bottom: 3px solid #007E6E;
    transform: scale(2);
}
section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.home{
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 200px;
    width: 80%;
}
.home-cont h2{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-cont p{
    color: white;
    font-size: 12px;
}
span{
    color: #154ed4;
}
.home-cont h2{
    font-size: 5rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: white;
}
img{
    border-radius: 100%;
}
.btn{
    display: inline-block;
    font-size: 1.8rem;
    padding: 1rem 2.8rem;
    background-color: #05339C;
    border-radius: 4rem;
    color: white;
    margin-top: 15px;
    transition: .5s ease;
    font-weight: 700;
}
.bt{
    display: inline-block;
    font-size: 1.8rem;
    padding: 1rem 2.6rem;
    background-color: #007E6E;
    border-radius: 4rem;
    color: white;
    margin-top: 15px;
    transition: .5s ease;
    font-weight: 700;
    margin-left: 10px;
}
.bt:hover,
.bt:active{
    transform: scale(1.1);
}
.btn:hover,
.btn:active{
    transform: scale(1.1);
}
p{
    font-weight: 600;
}

.vid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.vid video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.space{
    align-items: end;
    display: flex;
}


